<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido a la página de inicio</h1>
    <p>Ve a <a href="{{ url_for('register') }}">Registrar</a> para registrarte o a <a href="{{ url_for('login') }}">Iniciar sesión</a> para iniciar sesión.</p>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
